* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey500: hsl(0, 0%, 42%);
    --grey950: hsl(0, 0%, 7%);
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "figtree",sans-serif;
}

article {
    max-width: 21rem;
    width: clamp(300px, 90%, 340px);
    background: var(--white);
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 0.122rem solid var(--grey950);
    box-shadow: 0.3rem 0.3rem;
}

.ilustration {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

.tag {
    background: var(--background);
    color: var(--grey950);
    margin-top: 1.5rem;
    width: fit-content;
    padding: .25rem 0.625rem;
    border-radius: 0.25rem;
    font-weight: 800;

}

.date {
    color: var(--grey950);
    margin-top: 1rem;
    font-weight: 500;
    font-size: .75rem;
}

h1 {
    margin-top: 1rem;
    font-size: 1rem;
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--grey500);
    line-height: 1.5;
    font-weight: 400;
}

.profile {
    margin-block-start:1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile img {
    height: 1.8rem;
}

.profile p {
    font-size: .75rem;
    font-weight: 800;
}